#root {
	background-color: #fefbf7;

	min-height: 100vh;

	overflow-x: hidden;
}

.link {
	color: #4ABDF1;

	text-decoration: none;
	font-size: 14px;

	float: right;

	background-color: transparent;
	border: 0;
}

.slider-frame {
	overflow: initial !important;
}