.container {
	border-radius: 5px;

	padding: 15px 20px;
	margin-right: 10px;

	width: 335px;
	height: 188px;
	
	overflow: hidden;
	position: relative;
	display: flex;
	
	text-decoration: none !important;

	background-size: cover;

	*:not(img) {
		z-index: 1;
	}

	img {
		opacity: 0.5;
		position: absolute;
	}
}